################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/api/.vs/api/FileContentIndex/2e133a04-5704-4b2e-a47a-dce250635faf.vsidx
